.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.search-input {
  margin: 20px 0;
  padding: 10px;
  width: 80%;
  font-size: 18px;
}

.search-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}